# Dependencies
node_modules
**/node_modules

# Build outputs
client/dist
server/dist

# Dev files
.git
.gitignore
*.md
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
